html 
    head 
        title Dale Carlos
    body 
        h1(style={'text-align': 'center', 'margin-top': '3%'}) Ubaldo's Crazy Counter
        h2(style={'text-align': 'center', 'vertical-align': 'middle', 'margin-top': '10%'})= total
